body,
html,
button{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    font-family: 'Open Sans', sans-serif;

    background: rgb(194,225,226);
    background: linear-gradient(0deg,rgba(255,240,208,1) 0%, rgba(194,225,226,1) 100%);

    min-height: 100vh;
}

.page{
    width: 1000px;
    margin: 0 auto;
    padding-top: 65px;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    margin-bottom: 55px;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 58px;
}

ul{
    display: flex;
    gap: 48px;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-direction: row;

    font-family: 'Mulish', sans-serif;
}

a{
    text-decoration: none;
    color: #1F1534;
}
/*pseudo class*/
ul li a:hover{
    font-weight: bold;
}

h1 {
    font-family: 'Mulish', sans-serif;
    line-height: 56px;
    font-size: 49px;
    color: #1F1534;
    
    font-weight: normal;
    width: 490px;
}

section p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 28px;
    margin: 40px 0;

    color: #7D7987;
}

h1 span{
    font-weight: bold;
    color: #89C5CC;
}

button a {
    display: flex;
    align-items: center;
    justify-content: center;

    background: #69B99D;
    border-radius: 4px;
    border: none;
    gap: 10px;
    padding: 14px 32px 15px;
    margin: 0;


    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-family:'Open Sans', sans-serif;

    cursor: pointer;
}


button a:hover{
    background:#407462;
}

footer {
    text-align: center;
    font-size: 14px;
    font-weight: 28px;
    font-family:'Open Sans', sans-serif;

    margin-top: 80px;
}

footer a:hover{
    font-weight: bold;
}

#balls{
    position: fixed;
    bottom: 0;
    right:0;
}
